
<div class="article">
  <%= link_to image_tag(article.image,class: 'article_image' ), article_path(article.id) %>
  <%= link_to article.title,article_path(article.id), class: 'article_title' %>
  <div class="article_posted">投稿日：<%= l article.created_at %></div>
  <div class="comments_count">コメント：<%= article.comments.count %>件</div>
</div>
