<div class="main_">

  <div class="contents">

    <div class="articles">
      <%= render partial: "article", collection: @articles  %>
    </div>

      <%= render 'pages/result' %>

      <%= render 'pages/member' %>

  </div>

</div>