<div class="main">
  <div class="articles">
    <%= render partial: "article", collection: @articles  %>
  </div>
  <%= render template: "pages/result" %>
  <%= render template: "pages/member" %>
</div>