<div class="main_">

  <div class="contents">

      <div class="page_title">
        <div class="index_page">
          最新の記事
        </div>
      </div>
      
      <div class="articles">
        <%= render partial: "article", collection: @articles  %>
      </div>

      <%= render 'pages/result' %>

      <%= render 'pages/member' %>

    </div>
  
  </div>

</div>