<div class="letter">
  <%= link_to image_tag("letter_cover.png", class: :cover), '/file/test.pdf' %>
  <div class="letter_bottom">
    <%=  link_to '2008年度(平成20年度)卒', '/file/images/test.pdf', class: :year %>
  </div>
</div>