<div class="letter">
  <%= link_to image_tag("letter_cover.png", class: :cover), '/files/test.pdf' %>
  <div class="letter_bottom">
    <%=  link_to '2008年度(平成20年度)卒', '/files/test.pdf', class: :year %>
  </div>
</div>

<div class="letter">
  <%= link_to image_tag("logo.PNG", class: :cover), '/files/test.pdf' %>
  <div class="letter_bottom">
    <%=  link_to '○○年度(○○年度)卒', '/files/test.pdf', class: :year %>
  </div>
</div>