<div class="page">
      <div>試合結果</div>
      <div class="">令和3年度公式戦</div>
      <div class="">・第30回九州新人大会(中止) 令和3年5月15,16日 久留米高専</div>
      <div class="">・第58回九州高専大会 令和3年11月6,7日 湯布院スポーツセンター</div>
      <div class="">・第52回全国高専大会 令和4年1月4,5,7,9日 神戸総合運動公園陸上競技場</div>
    </div>