<div class="staff">部長：</div>
<div class="staff">監督：</div>
<div class="staff">G.M.：</div>
<div class="staff">顧問：</div>
<div class="staff">主将：</div>
<div class="staff">副将：</div>
<div class="staff">FWリーダ：</div>
<div class="staff">BKリーダ：</div>
<div class="staff">トレーニングリーダ：</div>
<div class="staff">主務：</div>