/******* リセット *******/

/******* ヘッダー装飾 *******/

.header{}

.uppper{
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
  border-bottom: solid 2px red;
  background: linear-gradient(-225deg, darkgreen 0%, white 95%);
}

.header_left{
}

.title{
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo{
  display: block;
  height: 80px;
  object-fit: cover;
}

.title_title{
  font-size: 40px;
  color: antiquewhite;
  margin-left: 15px;
}

.header_right{
}

.header_buttons{
  margin: 50px 50px;
}

.header_button{
  border-radius: 5px;
  padding: 10px;
}

/******* ヘッダー・メニュー装飾 *******/

.header_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color:black;
  width: 100vw;
}

.menu{
  background-color:black;
  margin-right: 20px;
  color: rgb(242, 245, 242);
}

.menu_buttons{
  display: flex;
}

.menu_button{
  padding: 5px;
  text-align: center;
  border: 1px;
  border-radius: 5px;
  background-color: #e8efe6;
  display: block;
  width: 120px;
  margin: auto 3px;
}

a{
  color: black;
  text-decoration: none;
}

/******* フッター装飾 *******/
footer{
  height: 80px;
  width: 100vw;
  background-color: darkgreen;
  background: linear-gradient(-225deg, white 0%, darkgreen 95%);
  border-top: solid 1px red;
  color: #e8efe6;
  padding-top: 20px;
  
}

.footer_text{
  margin-right: 80px;
  text-align: right;
}


/******* メイン装飾 *******/

.main{
  width: 100vw;
  background-image: url('ground_beside.png');
  background-size: 100%;
  overflow-y: scroll;
  overflow: hidden;
}

.main_index{
  background-color: rgba(249, 251, 249, 0.8);
  width: 100vw;
}

.contents{
  padding-bottom: 100px;
}

/******* article_index装飾 *******/

.articles{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.article{
  height: 300px;
  width: 400px;
}

.article_image{
  height: 250px;
  width: 100%;
  display: block;
  object-fit: contain;
  margin-top: 80px;
}

.article_title{
  display: block;
  text-align: center;
  font-size: large;
  font-weight: 600;
  margin-top: 20px;
}

.article_posted{
  text-align: center;
  font-size: small;
}

/******* result装飾 *******/
.result{
  margin: 100px auto 0 80px;
}



/******* member装飾 *******/
.member{
  margin: 100px auto 0 80px;
}




/******* member装飾 *******/
.delete_btn{
  color: #e8efe6;
}